/* SASS mixin start */
/* SASS mixin end */
.footer__container {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: column;
  }
}
.footer__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 0.36px;
  color: #274C5B;
}
.footer__main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .footer__main {
    display: flex;
    flex-direction: column;
  }
}
.footer__center {
  order: 2;
  width: 50%;
  border-left: 1px solid #D5D5D5;
  border-right: 1px solid #D5D5D5;
  margin-bottom: 150px;
}
@media screen and (max-width: 768px) {
  .footer__center {
    width: 100%;
    order: 1;
    text-align: center;
    border: none;
    margin-bottom: 50px;
  }
}
.footer__contact {
  order: 1;
  text-align: right;
  margin-right: 20px;
  width: 25%;
}
@media screen and (max-width: 768px) {
  .footer__contact {
    width: 100%;
    order: 3;
    text-align: center;
  }
}
.footer__utility {
  order: 3;
  text-align: left;
  margin-left: 20px;
  width: 25%;
}
@media screen and (max-width: 768px) {
  .footer__utility {
    width: 100%;
    order: 2;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 0;
  }
}
.footer__logo {
  text-align: center;
  margin-bottom: 50px;
}
.footer__logo--list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.footer__logo--item {
  background-color: #EFF6F1;
  border-radius: 100px;
  padding: 20px;
  transition: color 0.8 ease-in-out;
}
.footer__bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0;
  border-top: 1px solid #D5D5D5;
}
@media screen and (max-width: 768px) {
  .footer__bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.center__slogan {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.36px;
  color: #525C60;
  text-align: center;
  padding: 0 50px;
  margin-bottom: 60px;
}

.contact__item {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.36px;
  color: #525C60;
  margin-bottom: 5px;
  font-weight: 700;
}
.contact__desc {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.36px;
  color: #525C60;
  margin-bottom: 40px;
}
.contact__title {
  margin-bottom: 20px;
}
.contact__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.36px;
  color: #525C60;
}

.utility__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.36px;
  color: #525C60;
}
.utility__item {
  margin-bottom: 24px;
}
.utility__title {
  margin-bottom: 35px;
}

.bar__text {
  display: flex;
  flex-direction: row;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.36px;
  color: #525C60;
}
.bar__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.36px;
  color: #274C5B;
}

.logo {
  fill: #274C5B;
  width: 30px;
  height: 30px;
}

.footer__logo--item:hover {
  background-color: #274C5B;
}

.footer__logo--item:hover > .logo {
  fill: #F9F8F8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1410px;
  width: 100%;
  padding: 20px 15px;
  margin: 0 auto;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  display: block;
  color: black;
}
/*# sourceMappingURL=style.css.map */