@use 'variables' as *;
@use 'font-mixin' as *;
@use 'header';
@use 'footer';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}
.container{
    max-width: 1380px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

ul, ol {
    list-style: none;
}

img{ 
    max-width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    display: block;
    color: black;
}

.container__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.card {
  border-radius: 30px;
  flex-basis: calc(100% / 2);
}

.card__banana {
background-image: url(/assets/banana.png);
background-repeat: no-repeat;
background-position: center;
}

.card__peach {
background-image: url(/assets/peach.png);
background-repeat: no-repeat;
background-position: center;
}

.card__title {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  letter-spacing: 0.36px;
  color: white;
  margin: 105px 484px 0 55px;
}

.card__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.36px;
  color: white;
  padding: 0 400px 105px 55px;
}

.text-peach {
  color: $deep-blue;
}
.title {
    font-family: 'Yellowtail';
    font-style: normal;
    font-weight: 400;
    @include fluid-font(27px, 36px);
    line-height: 1.8;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: $light-blue;
} 
