@use 'variables' as *;
@use 'font-mixin' as *;
@use 'footer';


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1390px;
    width: 90%;
    margin: 0 auto;
}

ul, ol {
    list-style: none;
}

img{ 
    max-width: 100%;
}

a {
    text-decoration: none;
    cursor:pointer;
    display: block;
    color: black;
}